css
.nickname {
  margin-top: 5px;
  color: #00ff99;
  font-size: 22px;
  font-weight: bold;
}

/* General Reset */

header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #6a11cb, #2575fc); /* colorful gradient */
  color: #333;
}


.intro, .skills, .gallery {
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
